/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
    font-family: 'Open Sans', sans-serif;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
.banner-div{
    background-color: black;
}
.banner{
    width: 100%;
    position: relative;
    opacity: 50%;
}
.media-links{
    width: 100%;
    display: flex;
    justify-content: center;
    position: absolute;
    top: 0;
    margin-top: 10px;
}
.media-links i{
    background-color: white;
    color: black;
    text-align:center;
    padding:10px;
    border-radius: 50%;
    margin-left: 10px;
}

/* header css starts */

.header-total{
    width: 100%;
    display: flex;
    justify-content: center;
}
.header{
    position: fixed;
    margin: auto;
    top: 60px;
    width: 80%;
    height: 80px;
    background-color: #FFFFFF;
    /* border: 1px solid black; */
    box-shadow: 3px 2px 5px rgba(151, 109, 109, 0.534);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-left{
    display: flex;
    align-items: center;
    width: 40%;
}
.logo{
    width: 80px;
}
.flex{
    font-size: 35px;
    color: rgb(236,82,63);
    font-weight: bolder;
    margin-left: 20px;
}
.header-right{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: right;
}
.nav a{
    font-size: 13px;
    color: rgba(0, 0, 0, 0.651);
    text-decoration: none;
    margin-right: 25px;
    padding: 28px 0px;
    border: 1px solid white;
}
.nav .home{
    color: red;
    border-top: 2px solid red;
}
.banner-content{
    display: flex;
    width: 100%;
    justify-content: center;
}
.header-heading{
    position: absolute;
    top: 300px;
    text-align: center;
    margin-top: 70px;
}
.heading{
    font-size: 30px;
    font-weight: bolder;
    color: #FFFFFF;
    border-bottom: 1px solid gray;
    line-height: 40px;
}
.banner-p{
    font-size: 14px;
    color: #FFFFFF;
    font-weight: bolder;
    line-height: 40px;
}
.design-btn{
    width: 120px;
    height: 40px;
    border-radius: 5px;
    background-color: rgb(234,81,62);
    color: white;
    font-size: 10px;
    outline: none;
    border: none;
    font-weight: 900;
    margin-top: 10px;
}
.three-dots .dots{
	display: flex;
	justify-content: center;
}
.three-dots .dots .dot{
	border-radius: 50%;
	background-color: rgba(0, 0, 0, 0.678);
    padding: 5px;
    margin: 5px;
}
.three-dots .dots .dot-color{
	background-color: black;
}
.container{
    width: 80%;
    margin-top: 50px;
    margin: auto;
}

/* our services css starts */

.our-services, .portfolio, .our-team, .contact{
    width: 100%;
    margin-top: 50px;
}
.our-services h2, .portfolio h2, .our-team h2, .contact h2{
    font-size: 20px;
    font-weight: 900;
    text-align: center;
    color: rgba(0, 0, 0, 0.801);
     margin: 0 auto;
     margin-top: 120px;
}
hr{
    width: 140px;
}
.port-hr{
    width: 160px;
}
.our-services p, .portfolio p, .our-team p, .contact-p{
    font-size: 13px;
    line-height: 35px;
    text-align: center;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.651);
}
.colors, .article-images, .article-members{
    width: 100%;
    margin: auto;
    margin-top: 5%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    color: #FFFFFF;
}
.color, .article-images img, .article-members img{
    width: 22%;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    margin-top: 20px;
}
.article-members .rounded{
    border-radius: 50%;
}
.color-1{
    background-color: rgb(92,189,157);

}
.color-2{
    background-color: rgb(230,127,49);
}
.color-3{
    background-color: rgb(57,152,219);
}
.color-4{
    background-color: rgb(104,205,115);
}
.team-hr{
    width: 110px;
}

/* design skills css starts */

.design-skills{
    margin: 0 auto;
    margin-top: 80px;
}
.design-skills h1{
    font-size: 18px;
    text-align: center;
    font-weight: bold;
    font-style: italic;
}
.design-skills p{
    font-size: 11px;
    line-height: 25px;
    font-style: italic;
}
.skill-p{
    text-align: center;
}
.article-data, .map-article{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top:3% ;
}
.design-left, .map-article-left{
    width: 58%;
    text-align: left;
}
.design-left .para-1{
    font-size: 13px;
    line-height: 20px;
    color: rgba(0, 0, 0, 0.733);
    padding-top: 4%;
    text-align: left;
}
.design-right, .map-article-right{
    width: 30%;
}
.gray{
    background-color: rgb(231,231,231);
    width: 300px;
    height: 30px;
    margin: 10px;
}
.orange{
    background-color: rgb(234,81,62);
    width: 250px;
    height: 30px;
    font-size: 9px;
    font-weight: bolder;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    padding-left: 10px;
}
.orange2{
    background-color: rgb(234,81,62);
    width: 220px;
    height: 30px;
    font-size: 9px;
    font-weight: bolder;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    padding-left: 10px;
}
.orange3{
    background-color: rgb(234,81,62);
    width: 200px;
    height: 30px;
    font-size: 9px;
    font-weight: bolder;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    padding-left: 10px;
}
.orange4{
    background-color: rgb(234,81,62);
    width: 240px;
    height: 30px;
    font-size: 10px;
    font-weight: bolder;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    padding-left: 10px;
}
address iframe{
    width: 100%;
    height: 270px;
    margin-top: 50px;
}
.first{
    border: 1px solid gray;
    width: 300px;
    height: 20px;
    font-size: 11px;
    padding: 6px 5px;
    margin-top: 10px;
    color: gray;
    border-radius: 3px;
}
.message{
    height: 100px;
}
.send-message-btn {
    background-color: rgb(234,81,62);
    padding: 6px 5px;
    /* padding-top: 10px; */
    /* width: 300px; */
    /* height: 20px; */
    text-align: center;
    color: white;
    font-weight: bolder;
    font-size: 13px;
    margin-top: 10px;
}
.map-p{
    margin-top: 20px;
    font-size: 14px;
    font-weight: lighter;
    line-height: 25px;
}
.sohail-email{
    color: red;
}
.str-1{
    color: blue;
}
.str-2{
    color: red;
}
/* footer css starts */

footer .container{
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: auto;
	margin-top: 100px;
	margin-bottom: 100px;
}

footer .container .go-to-top{
	width: 120px;
	padding: 10px 0;
	border: 1px solid rgb(234,81,62);
	background-color: rgb(234,81,62);
	text-align: center;
	color: white;
	transition: all 0.5s ease;
}
footer .container .go-to-top a{
	text-decoration: none;
	color: white;
}

/* gallery page css starts */
 .aside{
    background-color: rgb(234,81,62);
    width: 25%;
    height: 100vh;
    position: fixed;
    left: 0;
}
.aside .aside-left .left-top{
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content:space-between;
    margin-top: 20px;
}
.aside-left .left-top .gal-logo{
    display: flex;
    align-items: center;
    padding-left: 10px;

}
.aside-left .left-top .gal-logo img{
    width: 60px;
}
.aside-left .left-top .logo-name{
    font-size: 30px;
    font-weight: bolder;
    color: #FFFFFF;
    margin-left: 10px;
}
.aside-left .home-btn{
    border: 2px solid #FFFFFF;
    width: 80px;
    height: 30px;
    border-radius: 5px;
    background-color: inherit;
    color: #FFFFFF;
    margin-right: 10px;
}
.aside-left .home-btn a{
    text-decoration: none;
    color: #FFFFFF;
}
.aside-left .left-bottom{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    width: 90%;
    padding-left: 20px;
    line-height: 25px;
}
.aside .aside-left{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: space-between;
}
.aside-left .left-bottom .dev{
font-size:22px ;
font-weight: bolder;
color: white;
line-height: 30px;
}
.aside-left .left-bottom .dev-p{
    font-size: 13px;
    font-weight: bolder;
    margin-top: 10px;
}
.aside-left .left-bottom .media-icons{
    width: 100%;
    display: flex;
    margin-top: 10px;
}
.aside-left .left-bottom .media-icons i{
    background-color: inherit;
    color: white;
    border: 1px solid white;
    text-align:center;
    padding:10px;
    border-radius: 50%;
    margin: 5px;
}
.gal-section{
    width: 65%;
    height: 300px;
    margin-left:30% ;
    padding-top: 30px;
   
}
.gal-heading{
    font-size: 30px;
    font-weight: bolder;
    text-align: center;
}
.gallery-container{
    width: 100%;
    display: flex;
    justify-content: center;
    
    
}
.gal-left, .gal-right{
    width: 40%;
    margin: 20px;
}
.gal-left img, .gal-right img{
    width: 100%;
    margin-top: 20px;
    border: 1px solid black;
    border-radius: 5px;
}
