/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
    font-family: 'Open Sans', sans-serif;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
.banner-div{
    background-color: black;
}
.banner{
    width: 100%;
    /* height: 500px; */
    position: relative;
    opacity: 50%;
}
.container{
    width: 80%;
    /* height: 300px; */
    position: absolute;
    top:  0;
    margin-left: 10%;
    
}
.media-links{
    width: 160px;
    display: flex;
    justify-content: space-between;
    margin:  auto;
    margin-top: 1%;
}
.media-links i{
    background-color: white;
    color: black;
    width: 30px;
    height: 25px;
    text-align:center;
    padding-top: 5%;
    border-radius: 50%;
}

/* header css starts */

.header{
    position: fixed;
    background-color: #FFFFFF;
    width: 80%;
    height: 80px;
    margin-top: 2%;
    display: flex;
    justify-content: space-between;
    box-shadow: -2px 2px 4px rgba(0, 0, 0, 0.7);
    /* align-items: center; */
    border-radius: 2px;
}
.header-left{
    width: 16%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header-right{
    width: 50%;
    height: 100%;
    margin-right: 20px;
}
.logo{
    width: 80px;
}
.flex{
    font-size: 30px;
    font-weight: bold;
    color: rgb(234,81,62);
}
.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav a{
    font-size: 12px;
    border: 2px solid white;
    text-decoration: none;
    font-weight: 900;
    /* padding-top: 6%; */
    /* padding-right: 7%; */
    letter-spacing: 0.5px;
    padding: 30px 0;
}
.header-right .home{
    color: red;
    border-top: 3px solid rgb(236,82,63);
}
.services, .portfolio-a, .team, .gallery, .contact-a{
    color: rgba(0, 0, 0, 0.747);
}

/* header css ends */

.banner-bottom{
    text-align: center;
    margin-top: 34%;
}
.banner-bottom h1{
    font-size: 30px;
    font-weight: bold;
    color: #FFFFFF;
    margin: auto;
    /* margin-top: 24%; */
    border-bottom: 1px solid #ffffff8c;
    width: 310px;
    line-height: 40px;
}
.banner-bottom p{
    font-size: 10px;
    font-weight: 900;
    color:white;
    letter-spacing: 1px;
    padding-top: 2%;
}
.design-btn{
    width: 120px;
    height: 40px;
    border-radius: 5px;
    background-color: rgb(234,81,62);
    color: white;
    font-size: 10px;
    outline: none;
    border: none;
    font-weight: 900;
    margin-top: 2%;
}
.three-dots{
    width: 30px;
    height: 20px;
    margin: auto;
    margin-top: 8%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.dot{
    background-color: black;
    width: 200px;
    height: 5px;
    border-radius: 50%;
    margin-left: 6px;
}

/* our services section css starts */

.our-services{
    margin: auto;
    margin-top: 10%;
}
.our-services h1{
    font-size: 20px;
    font-weight: 900;
    text-align: center;
    color: rgba(0, 0, 0, 0.801);
     border-bottom: 1px solid black;
     width: 140px;
     margin: 0 auto;
}
.our-services p, .portfolio p, .our-team p, .contact-p{
    font-size: 13px;
    line-height: 35px;
    text-align: center;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.651);
}
.colors{
    width: 100%;
    margin: auto;
    height: 200px;
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
    color: #FFFFFF;
}
.color-1{
    background-color: rgb(92,189,157);
    width: 22%;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
}
.color-2{
    width: 22%;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    background-color: rgb(230,127,49);
}
.color-3{
    width: 22%;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    background-color: rgb(57,152,219);
}
.color-4{
    width: 22%;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    background-color: rgb(104,205,115);

}
/* our services css ends */

/* our portfolio css starts */

.portfolio{
    margin: auto;
    margin-top: 10%;
}
.portfolio h1{
    font-size: 20px;
    font-weight: 900;
    text-align: center;
    color: rgba(0, 0, 0, 0.801);
    border-bottom: 1px solid black;
    width: 160px;
    margin: 0 auto;
}

.article-images{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 3%;
}
.article-images img{
    width: 22%;
    margin-top: 30px;
}

/* our portflio css ends */

/* our team css starts */
.our-team{
    margin-top: 6%;
}

.article-members{
    margin: auto;
    margin-top: 3%;
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
}
.article-members img{
    width: 22%;
    border-radius: 50%;
}
.our-team h1{
    font-size: 20px;
    font-weight: 900;
    text-align: center;
    color: rgba(0, 0, 0, 0.801);
     border-bottom: 1px solid black;
     width: 105px;
     margin: 0 auto;
}

/* design skills css starts */

.design-skills{
    margin: 0 auto;
    margin-top: 5%;
}
.design-skills h1{
    font-size: 18px;
    text-align: center;
    font-weight: bold;
    font-style: italic;
}
.design-skills p{
    font-size: 11px;
    line-height: 25px;
    font-style: italic;
}
.skill-p{
    text-align: center;
}
.article-data{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top:3% ;
}
.design-left{
    width: 58%;
}
.design-left .para-1{
    font-size: 13px;
    line-height: 20px;
    color: rgba(0, 0, 0, 0.733);
    padding-top: 4%;
}
.design-right{
    width: 30%;
}
.gray{
    background-color: rgb(231,231,231);
    width: 300px;
    height: 30px;
    margin: 10px;
}
.orange{
    background-color: rgb(234,81,62);
    width: 250px;
    height: 30px;
    font-size: 9px;
    font-weight: bolder;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    padding-left: 10px;
}
.orange2{
    background-color: rgb(234,81,62);
    width: 220px;
    height: 30px;
    font-size: 9px;
    font-weight: bolder;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    padding-left: 10px;
}
.orange3{
    background-color: rgb(234,81,62);
    width: 200px;
    height: 30px;
    font-size: 9px;
    font-weight: bolder;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    padding-left: 10px;
}
.orange4{
    background-color: rgb(234,81,62);
    width: 240px;
    height: 30px;
    font-size: 10px;
    font-weight: bolder;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    padding-left: 10px;
}

/* design skills css ends */

/* contact css starts */

.contact{
    margin: auto;
    margin-top: 5%;
}
.address iframe{
    width: 100%;
    height: 250px;
    margin-top: 3%;
}
.map-article{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 3%;
}
.map-article-left{
    width: 60%;
}
.map-article-left p{
    font-size: 12px;
    font-weight: bolder;
    line-height: 20px;
    padding-top: 1%;
    color: rgba(0, 0, 0, 0.726);
}
.map-article-left h5{
    font-size: 12px;
    color: rgba(0, 0, 0, 0.726);
    font-weight: bolder;
    margin-top: 10px;
}
.sohail-email{
    color: red;
}
.str-1{
    color: red;
}
.str-2{
    color: blue;
}
.str-4{
    color: black;
}
.first{
    border: 1px solid gray;
    width: 300px;
    height: 25px;
    font-size: 11px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 15px;
    margin: 10px;
    border-radius: 3px;
}
.second{
    border: 1px solid gray;
    width: 300px;
    height: 100px;
    border-radius: 3px;
    font-size: 11px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 15px;
    margin: 10px;
}
.send-message-btn{
    width: 320px;
    height: 25px;
    background-color: rgb(234,81,62);
    color: #FFFFFF;
    font-size: 9px;
    margin: 10px;
    border-radius: 3px;
    outline: none;
    border: none;
    font-weight: bolder;
}
.contact h1{
    font-size: 20px;
    font-weight: 900;
    text-align: center;
    color: rgba(0, 0, 0, 0.801);
     border-bottom: 1px solid black;
     width: 90px;
     margin: 0 auto;
}
/* contact css ends */

/* footer css starts */
footer{
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 5%;
}
.footer-btn{
    width: 100px;
    height: 30px;
    border-radius: 3px;
    color: #FFFFFF;
    outline: none;
    border: none;
    font-weight: bolder;
    font-size: 10px;
    background-color: rgb(234,81,62);
    margin-right: 1%;
}
.footer p{
    font-size: 13px;
    color: black;
    font-weight: bolder;
}
#footer-btn-a{
    color: white;
    text-decoration: none;
}

/* footer css ends */